@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --Black: #1b1b1a;
  --Gray: #ececec;
  --White: #ffffff;
  --Orange: #ff8a00;
  --Light_orange_3: #fff6eb;
  --Light_orange_2: #ffe8cc;
  --Light_orange: #ffdcb3;
  --Text_gray: #8d8d8c;
}

.logotype {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.button {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.h-main {
  font-weight: 400;
  font-size: 96px;
  line-height: 90px;
}

.h {
  &-1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  &-2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}

.p {
  &-1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  &-2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.span {
  &-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  &-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  &-3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    background-color: var(--Gray);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--Light_orange);
  }
}
body {
  margin: 0;
  height: 100vh;
}
.main {
  max-width: 1132px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 64px;
  margin: 0 auto;
}
.app {
  height: 100vh;
}

html {
  overflow-y: scroll;
}

@media screen and (max-width: 960px) {
  .main {
    padding: 0 32px;
    width: auto;
  }

  .logotype {
    font-size: 22px;
    line-height: 33px;
  }

  .button {
    font-size: 16px;
    line-height: 24px;
  }

  .h-main {
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
  }

  .h {
    &-1 {
      font-size: 22px;
      line-height: 33px;
    }
    &-2 {
      font-size: 18px;
      line-height: 27px;
    }
  }

  .p {
    &-1 {
      font-size: 16px;
      line-height: 24px;
    }
    &-2 {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .span {
    &-1 {
      font-size: 14px;
      line-height: 21px;
    }
    &-2 {
      font-size: 14px;
      line-height: 21px;
    }
    &-3 {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

@media (max-width: 650px) {
  .app{
    height: auto;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 0 16px;
  }
}

@media (max-width: 600px) {
  .logotype {
    font-size: 20px;
    line-height: 30px;
  }

  .h-main {
    font-size: 30px;
    line-height: 45px;
  }

  .h {
    &-1 {
      font-size: 20px;
      line-height: 30px;
    }
    &-2 {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .p {
    &-1 {
      font-size: 14px;
      line-height: 21px;
    }
    &-2 {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .span {
    &-1 {
      font-size: 12px;
      line-height: 18px;
    }
    &-2 {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
